body,
.yourCategory {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#timer {
  font-size: 25px;
}
.char,
.hintButton {
  display: none;
}
.submitButton,
.hintButton {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.addCategory,
main,
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
fieldset {
  margin-top: 20px;
}
.game {
  width: 60vw;
  height: 90vh;
  border: solid black;
}
img {
  align-self: flex-start;
  height: 80vh;
  margin-left: 50px;
  width: 30vw;
  margin-top: 100px;
}
h1 {
  font-size: 50px;
  border: solid black;
  padding: 5px;
  margin: 0;
}
.word,
.guessedLetters {
  display: none;
  font-size: 50px;
}
.char {
  font-size: 25px;
}
.letter,
.guess {
  margin: 15px;
}

main {
  height: 100vh;
  width: 100vw;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
button {
  height: 40px;
  width: 110px;
  font-size: 20px;
  margin: 0;
}
.yourCategory {
  display: none;
}
.animalsButton,
.countriesButton,
.fruitsButton,
.addCategoryButton,
.playButton {
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin: 10px;
}
